@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
}
html{
    font-family: ''Roboto'',serif ;
    font-size: 15px;

}

body{
    background-color: rgb(234, 133, 9);
    width:600px;
    margin:0 auto;
    padding: 0 20px 20px 20px;
    
}

h1{
    font-size: 50px;
    text-align:center;
}

p,li{
    font-size: 16px;
    line-height:2;
    letter-spacing: 1px;
    padding: 2px;
}

img{
    display:block ;
    margin: 0 auto;
    border: 1px solid black;
}

a{
    font-size:18px;
    text-align: center;
    margin: 2px;
}